<div class="container">
    <div class="login-form">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Enter Email</mat-label>
            <input matInput [formControl]="email">
            <mat-error *ngIf="email.hasError('required') && (email.touched || email.dirty)">Email is required
            </mat-error>
            <mat-error *ngIf="email.hasError('email')">Email format is incorrect</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Enter Password</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput [formControl]="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button mat-raised-button color="accent" [disabled]="email.invalid || password.invalid"
            (click)="doLogin()">LOGIN</button>

        <button mat-button routerLink="../register">New here? Create Account</button>
    </div>

</div>