.container {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 20%;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.example-full-width {
  width: 100%;
}
